@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Ubuntu&display=swap');
/* font-family: 'Overpass', sans-serif;
   font-family: 'Ubuntu', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* color: #6C63FF; */
    height: 100vh;
    background:  linear-gradient(rgba(108, 99, 255, .7), rgba(108, 99, 255, .7));
    font-family: 'Ubuntu', sans-serif;
}
header{
    margin: 2rem auto;
    width: 90%;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
}
.fa-diamond{
    align-self: center;
    margin-left: 5px;
}
.blackjack-game{
    color: white;
    text-align: center;
    margin-top: 10rem;
}
.card-info{
    margin-top: 2rem;
}
.card-info p{
    font-size: 1.2rem;
}
.btns{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}
button{
    width: 120px;
    height: 40px;
    background: white;
    color: #6C63FF;
    border: none;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: .9rem;
}
