@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Ubuntu&display=swap');
/* font-family: 'Overpass', sans-serif;
   font-family: 'Ubuntu', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* color: #6C63FF; */
    height: 100vh;
    background:  linear-gradient(rgba(108, 99, 255, .7), rgba(108, 99, 255, .7));
    font-family: 'Ubuntu', sans-serif;
}
header{
    margin: 2rem auto;
    width: 90%;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
}
.fa-diamond{
    align-self: center;
    margin-left: 5px;
}
.rules {
    position: fixed;
    margin: 2rem auto;
    left: 5%;
    height: 400px;
    width: 90%;
    background: white;
    border-radius: 10px;
    overflow: scroll;
    padding: 2em;
}
.rules h2{
    color: #6C63FF;
}
.rules h2 + p{
    margin-top: 1.5rem;
    color:rgba(108, 99, 255, .7)
}
ul{
    margin-top: 1.5rem;
}
li{
    color:rgba(108, 99, 255, .7);
    line-height: 1.6;
}
.name-accept{
    margin: 1.3rem;
    display: flex;
}
input{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #6C63FF;
    caret-color: red;
    padding-left: 10px;
    color: white;
}
input::placeholder{
    color: rgba(255, 255, 255, .6);
}
.accept-btn{
    background: #6C63FF;
    color: white;
    margin-left: 10px;
}
.rich-flex{
    color:rgba(108, 99, 255, .7);
    text-align: center;
}
.blackjack-game{
    color: white;
    text-align: center;
    margin-top: 10rem;
}
.card-info{
    margin-top: 2rem;
}
.card-info p{
    font-size: 1.2rem;
}
.btns{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}
button{
    width: 120px;
    height: 40px;
    background: white;
    color: #6C63FF;
    border: none;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: .9rem;
}
.money{
    margin-top: 2rem;
}
@media screen and (min-width: 760px){
    .rules{
        width: 400px;
        left: 35%;
    }
    button{
        transition: .4s;
    }
    button:hover{
        transform: scale(1.11);
    }
}